In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 50

import pandas as pd

file=pd.read_csv('diamonds.csv')
file

,diamond_id,shape,size,color,fancy_color_dominant_color,fancy_color_secondary_color,fancy_color_overtone,fancy_color_intensity,clarity,cut,...,girdle_min,girdle_max,culet_size,culet_condition,fluor_color,fluor_intensity,lab,total_sales_price,eye_clean,date
0,131328926,Round,0.09,E,NaN,NaN,NaN,NaN,VVS2,Excellent,...,M,M,N,NaN,NaN,None,IGI,200,NaN,2022-02-24
1,131704776,Round,0.09,E,NaN,NaN,NaN,NaN,VVS2,Very Good,...,STK,STK,N,NaN,NaN,None,IGI,200,NaN,2022-02-24
2,131584417,Round,0.09,E,NaN,NaN,NaN,NaN,VVS2,Excellent,...,TN,M,NaN,NaN,NaN,None,IGI,200,NaN,2022-02-24
3,131584416,Round,0.09,E,NaN,NaN,NaN,NaN,VVS2,Excellent,...,M,STK,NaN,NaN,NaN,None,IGI,200,NaN,2022-02-24
4,131613644,Round,0.09,E,NaN,NaN,NaN,NaN,VVS2,Very Good,...,STK,STK,N,NaN,NaN,None,IGI,200,NaN,2022-02-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219699,135619262,Round,10.65,E,NaN,NaN,NaN,NaN,VS1,Excellent,...,M,STK,N,NaN,NaN,None,GIA,1210692,NaN,2022-02-24
219700,135122237,Radiant,5.17,NaN,Green,NaN,None,Fancy Light,VS2,NaN,...,TK,XTK,NaN,NaN,NaN,None,GIA,1292500,NaN,2022-02-24
219701,135553116,Round,18.07,E,NaN,NaN,NaN,NaN,VS1,Excellent,...,TN,M,N,NaN,NaN,None,GIA,1315496,NaN,2022-02-24
219702,114752541,Princess,0.90,NaN,Red,NaN,NaN,Fancy,SI2,NaN,...,XTN,VTK,N,NaN,NaN,Faint,GIA,1350000,NaN,2022-02-24
219703,129630500,Pear,10.03,NaN,Yellow,NaN,NaN,Fancy Vivid,VVS2,NaN,...,NaN,NaN,NaN,NaN,NaN,None,GIA,1449881,NaN,2022-02-24

In [24]:

file.stack().value_counts()

Excellent     432286
2022-02-24    219704
GIA           200434
Very Good     159669
Round         158316
               ...
136103879          1
135923956          1
136103572          1
136103571          1
1449881            1
Length: 244249, dtype: int64

In [33]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219704 entries, 0 to 219703
Data columns (total 27 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   diamond_id                   219704 non-null  int64
 1   shape                        219704 non-null  object
 2   size                         219704 non-null  float64
 3   color                        210542 non-null  object
 4   fancy_color_dominant_color   9164 non-null    object
 5   fancy_color_secondary_color  1062 non-null    object
 6   fancy_color_overtone         2038 non-null    object
 7   fancy_color_intensity        9162 non-null    object
 8   clarity                      219704 non-null  object
 9   cut                          159097 non-null  object
 10  symmetry                     219704 non-null  object
 11  polish                       219704 non-null  object
 12  depth_percent                219704 non-null  float64
 13  table_percent                219704 non-null  float64
 14  meas_length                  219704 non-null  float64
 15  meas_width                   219704 non-null  float64
 16  meas_depth                   219704 non-null  float64
 17  girdle_min                   136271 non-null  object
 18  girdle_max                   135408 non-null  object
 19  culet_size                   133963 non-null  object
 20  culet_condition              15319 non-null   object
 21  fluor_color                  15726 non-null   object
 22  fluor_intensity              219576 non-null  object
 23  lab                          219704 non-null  object
 24  total_sales_price            219704 non-null  int64
 25  eye_clean                    62787 non-null   object
 26  date                         219704 non-null  object
dtypes: float64(6), int64(2), object(19)
memory usage: 45.3+ MB

In [31]:
file3=pd.read_csv('Flight_delay.csv')
file3

,DayOfWeek,Date,DepTime,ArrTime,CRSArrTime,UniqueCarrier,Airline,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,4,03-01-2019,1829,1959,1925,WN,Southwest Airlines Co.,3920,N464WN,90,...,3,10,0,N,0,2,0,0,0,32
1,4,03-01-2019,1937,2037,1940,WN,Southwest Airlines Co.,509,N763SW,240,...,3,7,0,N,0,10,0,0,0,47
2,4,03-01-2019,1644,1845,1725,WN,Southwest Airlines Co.,1333,N334SW,121,...,6,8,0,N,0,8,0,0,0,72
3,4,03-01-2019,1452,1640,1625,WN,Southwest Airlines Co.,675,N286WN,228,...,7,8,0,N,0,3,0,0,0,12
4,4,03-01-2019,1323,1526,1510,WN,Southwest Airlines Co.,4,N674AA,123,...,4,9,0,N,0,0,0,0,0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
484546,5,13-06-2019,1609,1942,1915,AA,American Airlines Inc.,1496,N510AA,153,...,7,15,0,N,0,27,0,0,0,0
484547,6,14-06-2019,1616,1954,1915,AA,American Airlines Inc.,1496,N559AA,158,...,11,11,0,N,0,11,0,0,0,28
484548,2,17-06-2019,1617,2002,1915,AA,American Airlines Inc.,1496,N505AA,165,...,7,17,0,N,0,0,22,5,0,20
484549,7,22-06-2019,1607,1941,1915,AA,American Airlines Inc.,1496,N421AA,154,...,5,12,0,N,0,1,0,0,0,25
484550,1,23-06-2019,1608,1933,1915,AA,American Airlines Inc.,1496,N487AA,145,...,6,10,0,N,0,18,0,0,0,0

In [32]:
file3.stack().value_counts()

0         2543323
N          484551
5          198328
4          188009
7          162938
           ...
N104UA          1
7690            1
N826MH          1
2086            1
N195UA          1
Length: 10361, dtype: int64

In [34]:
file3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 484551 entries, 0 to 484550
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DayOfWeek          484551 non-null  int64
 1   Date               484551 non-null  object
 2   DepTime            484551 non-null  int64
 3   ArrTime            484551 non-null  int64
 4   CRSArrTime         484551 non-null  int64
 5   UniqueCarrier      484551 non-null  object
 6   Airline            484551 non-null  object
 7   FlightNum          484551 non-null  int64
 8   TailNum            484551 non-null  object
 9   ActualElapsedTime  484551 non-null  int64
 10  CRSElapsedTime     484551 non-null  int64
 11  AirTime            484551 non-null  int64
 12  ArrDelay           484551 non-null  int64
 13  DepDelay           484551 non-null  int64
 14  Origin             484551 non-null  object
 15  Org_Airport        483374 non-null  object
 16  Dest               484551 non-null  object
 17  Dest_Airport       483072 non-null  object
 18  Distance           484551 non-null  int64
 19  TaxiIn             484551 non-null  int64
 20  TaxiOut            484551 non-null  int64
 21  Cancelled          484551 non-null  int64
 22  CancellationCode   484551 non-null  object
 23  Diverted           484551 non-null  int64
 24  CarrierDelay       484551 non-null  int64
 25  WeatherDelay       484551 non-null  int64
 26  NASDelay           484551 non-null  int64
 27  SecurityDelay      484551 non-null  int64
 28  LateAircraftDelay  484551 non-null  int64
dtypes: int64(20), object(9)
memory usage: 107.2+ MB